.cardContainer {
	// display: grid;
	margin-top: 50px;

	.card {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 220px;
		height: 275px;
		background-color: #4a8db7;
		border-radius: 1rem;
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
		padding: 0 1.5rem;
		box-sizing: border-box;

		img {
			width: 180px;
			margin: auto;
		}

		h1 {
			text-transform: uppercase;
			font-size: 22px;
		}
	}

	.cardBack {
		display: flex;
		flex-direction: column;
		width: 220px;
		height: 275px;
		align-items: center;
		border-radius: 1rem;
		background-color: var(--secondary);

		.abilities {
			display: flex;
			flex-direction: row;

			.group {
				padding: 5px;

				h2 {
					font-size: 20px;
					font-weight: bold;
					margin-top: 20px;
				}
			}
		}

		.stats {
			font-size: 14px;
			margin-top: -14px;
		}
	}
}
