.card-container {
	max-width: 100%;
	max-height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 2fr);
	gap: 5px;

	.card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 300px;
		height: 330px;
		margin: 10px;
		padding: 0 0.5rem;
		border-radius: 1rem;
		background-color: #01aff995;
		box-shadow: 0.5 0.5px 0.5px rgba(0, 0, 0, 1.5);
		box-sizing: border-box;

		img {
			display: flex;
			margin: 6px auto;
		}

		h1 {
			margin: auto;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 0.5px;
		}
	}

	.card-back {
		width: 300px;
		height: 330px;
		border-radius: 1rem;
		box-sizing: border-box;
		padding: 0 0.5rem;
		border: 1px solid white;

		.abilities {
			display: flex;
			justify-content: space-around;

			.group {
				color: #fff;

				.static {
					background-color: #4a8db782;
					border-radius: 8px;
				}

				.light {
					background-color: #4a8db782;
					border-radius: 8px;
				}
			}
		}

		.base-stats {
			display: flex;
			flex-direction: column;
			align-items: center;
			color: #fff;
			margin: 1rem;
		}
	}
}
