.card {
	width: 280px;
	background-color: #9EDEF9;
	border-radius: 1rem;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
	padding: 0 1.5rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	box-sizing: border-box;

	img {
		width: 180px;
	}
}