.searchContainer {
	position: fixed;
	// margin: auto;
	width: 100%;
	// padding: 10px;
	z-index: 1000;
	top: 35px;

	.searchInput {
		width: 700px;
		height: 25px;
		padding: 8px;
		margin: auto;
		border-radius: 20px;
		border: 2px solid #cccccc76;
		position: relative;
		display: flex;
		justify-content: center;
		background-color: #8080802c;

		&:focus {
			border-radius: 2px solid #4a8db7;
		}
	}
}
