.searchContainer {
	position: fixed;
	margin: auto;
	width: 100%;
	padding: 10px;
	z-index: 1000;
	top: 40px;

	.searchInput {
		width: 600px;
		padding: 8px;
		margin: auto;
		border-radius: 20px;
		border: 1px solid #ccc;
		position: relative;
		display: flex;
		justify-content: center;

		&:focus {
			border-radius: 2px solid blue;
		}

		&:hover {
			border-radius: 2px solid blue;
		}
	}
}
