@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
	--primary: #f7f7fc;
	--secondary: #4a8db7;
}

body {
	background-color: var(--primary);
	font-family: 'Montserrat', sans-serif;

	main {
		margin: auto;
		padding-top: 100px;
		display: flex;
	}
}
