@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

:root {
	--primary: #4a8db7;
	--secondary: #000000c9;
}

body {
	background-color: var(--secondary);
	font-family: 'Poppins', sans-serif;

	main {
		margin: 40px;
	}
}
